.p-Home.Div20 {
;
}
.p-Home.Flex26 {
display: flex;
padding-top: 20px;
padding-bottom: 30px;
padding-left: ;
padding-right: ;
justify-content: space-around;
align-items: center;
font-family: DM Sans;
font-weight: 500;
font-size: 20px;
color: #696969ff;
}
.p-Home.Flex7 {
display: flex;
width: ;
align-content: space-between;
justify-content: flex-start;
padding-left: ;
column-gap: 30px;
align-items: center;
}
.p-Home.Flex12 {
display: flex;
}
.p-Home.Flex10 {
display: flex;
justify-content: flex-start;
align-content: space-between;
width: ;
align-items: stretch;
column-gap: 30px;
}
.p-Home.Div14 {
;
}
.p-Home.Div15 {
;
}
.p-Home.Div16 {
;
}
.p-Home.Div17 {
;
}
.p-Home.Div18 {
;
}
.p-Home.Flex8 {
display: flex;
width: ;
justify-content: flex-start;
align-content: stretch;
align-items: stretch;
column-gap: 30px;
}
.p-Home.Flex331 {
display: flex;
width: ;
justify-content: space-between;
align-content: center;
align-items: stretch;
}
.p-Home.Flex31 {
display: flex;
}
.p-Home.Flex37 {
display: flex;
flex-direction: row;
font-family: DM Sans;
font-size: 40px;
row-gap: ;
padding-left: ;
padding-top: ;
flex-grow: 1;
}
.p-Home.Flex38 {
display: flex;
flex-direction: column;
font-size: 40px;
padding-left: 250px;
font-family: DM Sans;
font-weight: 500;
row-gap: 20px;
padding-top: 100px;
flex-grow: 1;
justify-content: flex-start;
align-items: flex-start;
}
.p-Home.Div27 {
;
}
.p-Home.Flex43 {
display: flex;
height: 120px;
align-items: center;
}
.p-Home.Flex333 {
display: flex;
flex-direction: column;
font-size: 50px;
}
.p-Home.Flex337 {
display: flex;
width: ;
justify-content: flex-start;
align-content: stretch;
align-items: stretch;
column-gap: 30px;
}
.p-Home.Flex336 {
display: flex;
width: ;
justify-content: flex-start;
align-content: center;
align-items: stretch;
column-gap: 30px;
}
.p-Home.Flex45 {
display: flex;
background-color: #FF7629ff;
width: ;
}
.p-Home.Flex46 {
display: flex;
align-items: center;
justify-content: center;
width: ;
height: ;
padding-top: 75px;
font-family: DM Sans;
font-size: 21px;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex48 {
display: flex;
font-family: DM Sans;
font-size: 21px;
width: 1000px;
justify-content: space-around;
}
.p-Home.Flex50 {
display: flex;
width: 800px;
justify-content: space-around;
}
.p-Home.Flex51 {
display: flex;
justify-content: space-around;
width: 400px;
}
.p-Home.Flex57 {
display: flex;
align-items: center;
justify-content: flex-start;
width: ;
height: ;
padding-top: 150px;
font-family: DM Sans;
font-size: ;
flex-direction: column;
row-gap: 40px;
padding-bottom: 100px;
}
.p-Home.Flex56 {
display: flex;
font-family: DM Sans;
font-size: 21px;
width: 1200px;
justify-content: space-around;
}
.p-Home.Flex58 {
display: flex;
width: 600px;
justify-content: space-around;
}
.p-Home.Flex60 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 20px;
border-radius: 15px;
border-style: solid;
border-color: #cececeff;
padding-top: 40px;
padding-bottom: 40px;
}
.p-Home.Flex61 {
display: flex;
}
.p-Home.Flex63 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 20px;
border-radius: 15px;
border-style: solid;
border-color: #cececeff;
padding-top: 40px;
padding-bottom: 40px;
}
.p-Home.Flex59 {
display: flex;
width: 600px;
}
.p-Home.Flex67 {
display: flex;
width: 600px;
justify-content: space-around;
}
.p-Home.Flex65 {
display: flex;
}
.p-Home.Flex64 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 20px;
border-radius: 15px;
border-style: solid;
border-color: #cececeff;
padding-top: 40px;
padding-bottom: 40px;
}
.p-Home.Flex66 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 20px;
border-radius: 15px;
border-style: solid;
border-color: #cececeff;
padding-top: 40px;
padding-bottom: 40px;
}
.p-Home.Flex70 {
display: flex;
width: ;
justify-content: flex-start;
align-content: center;
align-items: stretch;
column-gap: 30px;
}
.p-Home.Flex96 {
display: flex;
align-items: flex-start;
justify-content: center;
width: ;
height: ;
padding-top: 150px;
font-family: DM Sans;
font-size: ;
flex-direction: row;
row-gap: ;
padding-bottom: ;
background-color: #FFF9F3ff;
padding-left: 150px;
box-sizing: content-box;
flex-wrap: nowrap;
}
.p-Home.Flex97 {
display: flex;
align-items: center;
padding-bottom: 200px;
width: 50%;
box-sizing: content-box;
padding-left: ;
}
.p-Home.Flex98 {
display: flex;
background-color: #ffffffff;
flex-direction: column;
padding-left: 50px;
padding-right: 20px;
padding-top: 50px;
padding-bottom: 50px;
position: relative;
border-radius: 25px;
row-gap: 20px;
font-family: DM Sans;
font-weight: 500;
top: 210px;
right: 315px;
box-sizing: border-box;
width: 600px;
height: ;
}
.p-Home.Flex99 {
display: flex;
column-gap: 20px;
width: 350px;
}
.p-Home.Flex101 {
display: flex;
column-gap: 20px;
width: 350px;
}
.p-Home.Flex102 {
display: flex;
column-gap: 20px;
width: 350px;
}
.p-Home.Flex104 {
display: flex;
flex-grow: 1;
align-items: flex-start;
padding-top: 100px;
flex-direction: column;
row-gap: 25px;
width: 50%;
}
.p-Home.Flex105 {
display: flex;
width: ;
justify-content: flex-start;
align-content: center;
align-items: stretch;
column-gap: 30px;
}
.p-Home.Flex125 {
display: flex;
align-items: center;
justify-content: center;
width: ;
height: ;
padding-top: 150px;
font-family: DM Sans;
font-size: ;
flex-direction: column;
row-gap: 20px;
padding-bottom: ;
background-color: #ffffffff;
padding-left: ;
box-sizing: content-box;
flex-wrap: nowrap;
}
.p-Home.Flex135 {
display: flex;
width: 1200px;
flex-direction: column;
row-gap: 30px;
height: 1000px;
align-items: center;
}
.p-Home.Flex136 {
display: flex;
column-gap: 25px;
}
.p-Home.Flex138 {
display: flex;
width: 600px;
column-gap: 20px;
justify-content: space-around;
height: 400px;
}
.p-Home.Flex140 {
display: flex;
flex-direction: column;
align-items: center;
column-gap: ;
width: 200px;
row-gap: 10px;
}
.p-Home.Flex142 {
display: flex;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfbff;
position: relative;
border-radius: 15px;
padding-top: 10px;
padding-bottom: 10px;
left: 60px;
top: 60px;
}
.p-Home.Flex141 {
display: flex;
justify-content: flex-start;
width: 200px;
align-items: center;
}
.p-Home.Flex144 {
display: flex;
flex-direction: column;
align-items: center;
column-gap: ;
width: 200px;
row-gap: 10px;
}
.p-Home.Flex143 {
display: flex;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfbff;
position: relative;
border-radius: 15px;
padding-top: 10px;
padding-bottom: 10px;
left: 60px;
top: 60px;
}
.p-Home.Flex139 {
display: flex;
width: 600px;
column-gap: 20px;
justify-content: space-around;
height: 400px;
}
.p-Home.Flex151 {
display: flex;
}
.p-Home.Flex154 {
display: flex;
flex-direction: column;
align-items: center;
column-gap: ;
width: 200px;
row-gap: 10px;
}
.p-Home.Flex153 {
display: flex;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfbff;
position: relative;
border-radius: 15px;
padding-top: 10px;
padding-bottom: 10px;
left: 60px;
top: 60px;
}
.p-Home.Flex152 {
display: flex;
}
.p-Home.Flex156 {
display: flex;
flex-direction: column;
align-items: center;
column-gap: ;
width: 200px;
row-gap: 10px;
}
.p-Home.Flex155 {
display: flex;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfbff;
position: relative;
border-radius: 15px;
padding-top: 10px;
padding-bottom: 10px;
left: 60px;
top: 60px;
}
.p-Home.Flex137 {
display: flex;
}
.p-Home.Flex170 {
display: flex;
column-gap: 25px;
}
.p-Home.Flex168 {
display: flex;
width: 600px;
column-gap: 20px;
justify-content: space-around;
height: 400px;
}
.p-Home.Flex164 {
display: flex;
}
.p-Home.Flex160 {
display: flex;
flex-direction: column;
align-items: center;
column-gap: ;
width: 200px;
row-gap: 10px;
}
.p-Home.Flex157 {
display: flex;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfbff;
position: relative;
border-radius: 15px;
padding-top: 10px;
padding-bottom: 10px;
left: 60px;
top: 60px;
}
.p-Home.Flex165 {
display: flex;
}
.p-Home.Flex161 {
display: flex;
flex-direction: column;
align-items: center;
column-gap: ;
width: 200px;
row-gap: 10px;
}
.p-Home.Flex158 {
display: flex;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfbff;
position: relative;
border-radius: 15px;
padding-top: 10px;
padding-bottom: 10px;
left: 60px;
top: 60px;
}
.p-Home.Flex169 {
display: flex;
width: 600px;
column-gap: 20px;
justify-content: space-around;
height: 400px;
}
.p-Home.Flex166 {
display: flex;
justify-content: flex-start;
width: 200px;
align-items: center;
}
.p-Home.Flex162 {
display: flex;
flex-direction: column;
align-items: center;
column-gap: ;
width: 200px;
row-gap: 10px;
}
.p-Home.Flex159 {
display: flex;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfbff;
position: relative;
border-radius: 15px;
padding-top: 10px;
padding-bottom: 10px;
left: 60px;
top: 60px;
}
.p-Home.Flex167 {
display: flex;
flex-direction: column;
align-items: center;
column-gap: ;
width: 200px;
row-gap: 10px;
}
.p-Home.Flex163 {
display: flex;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfbff;
position: relative;
border-radius: 15px;
padding-top: 10px;
padding-bottom: 10px;
left: 60px;
top: 60px;
}
.p-Home.Flex171 {
display: flex;
width: ;
justify-content: flex-start;
align-content: center;
align-items: center;
column-gap: 30px;
}
.p-Home.Flex234 {
display: flex;
align-items: stretch;
justify-content: flex-start;
width: ;
height: ;
padding-top: ;
font-family: ;
font-size: ;
flex-direction: row;
row-gap: ;
padding-bottom: ;
background-color: #ffffffff;
padding-left: ;
box-sizing: content-box;
flex-wrap: nowrap;
background-clip: content-box;
-webkit-background-clip: content-box;
}
.p-Home.Flex235 {
display: flex;
flex-direction: column;
background-color: #FF7629ff;
align-items: flex-start;
justify-content: center;
padding-top: 90px;
padding-bottom: 100px;
row-gap: 33px;
padding-left: 150px;
box-sizing: border-box;
}
.p-Home.Flex237 {
display: flex;
width: ;
justify-content: flex-start;
align-content: center;
align-items: center;
column-gap: 30px;
}
.p-Home.Flex238 {
display: flex;
width: ;
}
.p-Home.Flex239 {
display: flex;
flex-direction: column;
align-items: center;
padding-top: 150px;
padding-bottom: 150px;
row-gap: 20px;
}
.p-Home.Flex240 {
display: flex;
}
.p-Home.Flex241 {
display: flex;
align-items: center;
justify-content: center;
column-gap: 50px;
width: 500px;
}
.p-Home.Flex242 {
display: flex;
}
.p-Home.Flex243 {
display: flex;
width: 500px;
align-items: center;
justify-content: center;
column-gap: 50px;
}
.p-Home.Flex244 {
display: flex;
}
.p-Home.Flex245 {
display: flex;
width: 1000px;
align-items: center;
justify-content: center;
column-gap: 50px;
height: ;
background-color: #ffffffff;
}
.p-Home.Flex246 {
display: flex;
width: 100px;
height: ;
}
.p-Home.Flex247 {
display: flex;
padding-bottom: 40px;
flex-direction: column;
width: 50%;
padding-top: 50px;
padding-left: 50px;
padding-right: 50px;
box-sizing: border-box;
row-gap: 10px;
border-radius: 25px;
border-style: solid;
border-color: #d5d5d5ff;
}
.p-Home.Flex248 {
display: flex;
column-gap: 8px;
}
.p-Home.Flex249 {
display: flex;
}
.p-Home.Flex250 {
display: flex;
padding-top: 10px;
column-gap: 25px;
align-items: center;
}
.p-Home.Flex251 {
display: flex;
flex-direction: column;
row-gap: 2px;
}
.p-Home.Flex253 {
display: flex;
width: 100px;
height: ;
justify-content: flex-end;
}
.p-Home.Flex254 {
display: flex;
width: ;
justify-content: flex-start;
align-content: center;
align-items: center;
padding-top: 40px;
column-gap: 30px;
}
.p-Home.Flex274 {
display: flex;
flex-direction: column;
align-items: stretch;
padding-top: 150px;
padding-bottom: 100px;
row-gap: ;
background-color: #FFF9F3ff;
padding-left: 100px;
padding-right: 100px;
width: 100%;
box-sizing: border-box;
}
.p-Home.Flex271 {
display: flex;
width: 500px;
align-items: center;
justify-content: center;
column-gap: 50px;
}
.p-Home.Flex267 {
display: flex;
}
.p-Home.Flex272 {
display: flex;
align-items: center;
justify-content: center;
column-gap: 50px;
width: 500px;
}
.p-Home.Flex268 {
display: flex;
}
.p-Home.Flex276 {
display: flex;
width: 100%;
align-items: center;
justify-content: space-between;
padding-bottom: 30px;
box-sizing: content-box;
}
.p-Home.Flex277 {
display: flex;
padding-top: 20px;
padding-right: 20px;
padding-left: 20px;
padding-bottom: 20px;
border-radius: 35px;
background-color: #ffffffff;
}
.p-Home.Flex278 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex279 {
display: flex;
width: 50%;
flex-direction: column;
background-color: #fffefeff;
row-gap: 10px;
border-radius: 35px;
}
.p-Home.Flex280 {
display: flex;
width: 60%;
flex-direction: column;
row-gap: 30px;
}
.p-Home.Flex281 {
display: flex;
column-gap: 30px;
align-items: center;
justify-content: center;
}
.p-Home.Flex282 {
display: flex;
width: 40%;
flex-direction: column;
row-gap: 10px;
background-color: #fffefeff;
border-radius: 35px;
padding-bottom: 20px;
}
.p-Home.Flex286 {
display: flex;
width: 40%;
flex-direction: column;
row-gap: 10px;
background-color: #fffefeff;
border-radius: 35px;
padding-bottom: 20px;
}
.p-Home.Flex289 {
display: flex;
column-gap: 30px;
align-items: center;
justify-content: center;
}
.p-Home.Flex287 {
display: flex;
width: 40%;
flex-direction: column;
row-gap: 10px;
background-color: #fffefeff;
border-radius: 35px;
padding-bottom: 20px;
}
.p-Home.Flex288 {
display: flex;
width: 40%;
flex-direction: column;
row-gap: 10px;
background-color: #fffefeff;
border-radius: 35px;
padding-bottom: 20px;
}
.p-Home.Flex291 {
display: flex;
}
.p-Home.Flex292 {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
row-gap: 20px;
padding-top: 100px;
padding-left: 150px;
padding-bottom: 100px;
width: 50%;
}
.p-Home.Flex293 {
display: flex;
justify-content: center;
align-items: center;
width: 50%;
column-gap: 25px;
}
.p-Home.Flex294 {
display: flex;
justify-content: flex-start;
align-items: center;
width: 50%;
column-gap: 19px;
}
.p-Home.Flex295 {
display: flex;
justify-content: flex-start;
align-items: center;
width: 50%;
column-gap: 21px;
}
.p-Home.Flex296 {
display: flex;
background-color: #FF7629ff;
align-items: flex-start;
width: 50%;
padding-top: 100px;
padding-bottom: 100px;
}
.p-Home.Flex297 {
display: flex;
flex-direction: column;
background-color: #ffffffff;
right: 140px;
row-gap: 30px;
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
padding-bottom: 30px;
padding-left: 50px;
padding-top: 80px;
padding-right: 50px;
position: relative;
border-radius: 40px;
border-style: solid;
border-color: #d9d4d4ff;
}
.p-Home.Flex302 {
display: flex;
column-gap: 20px;
}
.p-Home.Flex300 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex303 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex306 {
display: flex;
column-gap: 20px;
}
.p-Home.Flex304 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex305 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex309 {
display: flex;
column-gap: 20px;
}
.p-Home.Flex307 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex308 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex310 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex311 {
display: none;
}
.p-Home.Flex313 {
display: flex;
flex-direction: column;
padding-left: 100px;
padding-right: 100px;
padding-top: 150px;
padding-bottom: 150px;
background-color: #FFF9F3ff;
align-items: center;
}
.p-Home.Flex314 {
display: flex;
width: 100%;
align-items: center;
justify-content: space-between;
padding-bottom: 30px;
}
.p-Home.Flex315 {
display: flex;
margin-top: 0px;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 30px;
padding-right: 30px;
border-radius: 35px;
position: static;
background-color: #FF7629ff;
}
.p-Home.Flex316 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex317 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex318 {
display: flex;
column-gap: 20px;
}
.p-Home.Flex319 {
display: flex;
column-gap: 20px;
}
.p-Home.Flex321 {
display: flex;
padding-top: 100px;
padding-left: 150px;
padding-right: 150px;
column-gap: 40px;
padding-bottom: 50px;
justify-content: space-between;
}
.p-Home.Flex322 {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
row-gap: 13px;
width: 40%;
}
.p-Home.Flex323 {
display: flex;
column-gap: 10px;
}
.p-Home.Flex324 {
display: flex;
}
.p-Home.Flex325 {
display: flex;
font-family: DM Sans;
font-weight: 500;
font-size: 20px;
align-items: flex-start;
flex-direction: column;
row-gap: 10px;
padding-left: 5px;
padding-right: 5px;
}
.p-Home.Flex326 {
display: flex;
font-family: DM Sans;
font-weight: 500;
font-size: 20px;
align-items: flex-start;
flex-direction: column;
row-gap: 10px;
padding-left: 5px;
padding-right: 5px;
}
.p-Home.Flex327 {
display: flex;
flex-direction: column;
align-items: flex-start;
row-gap: 20px;
}
.p-Home.Flex330 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex328 {
display: flex;
column-gap: 20px;
}
.p-Home.Flex329 {
display: flex;
column-gap: 20px;
}
.p-Home.Image135 {
width: 244px;
height: 33px;
}
.p-Home.TextBox12 {
font-size: ;
color: #696969ff;
font-family: ;
}
.p-Home.TextBox11 {
font-size: ;
color: #696969ff;
font-family: ;
}
.p-Home.TextBox10 {
font-size: ;
color: #696969ff;
font-family: ;
}
.p-Home.TextBox9 {
font-size: ;
color: #696969ff;
font-family: ;
}
.p-Home.TextBox7 {
font-size: ;
color: #696969ff;
align-self: center;
box-sizing: content-box;
width: ;
font-family: ;
}
.p-Home.Button4 {
color: #ffff;
background-color: #FF7629ff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #FF7629ff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button40 {
color: #000000ff;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
border-top-style: solid;
border-top-width: ;
margin-top: ;
margin-left: ;
margin-right: ;
margin-bottom: ;
word-wrap: normal;
outline-style: ;
font-family: DM Sans;
}
.p-Home.TextBox23 {
font-size: 18px;
color: #757575ff;
width: 70%;
}
.p-Home.TextBox251 {
font-family: DM Sans;
font-weight: 700;
}
.p-Home.TextBox252 {
font-family: DM Sans;
font-weight: 700;
color: #FF7629ff;
}
.p-Home.Button44 {
color: #000000ff;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
border-top-style: solid;
border-top-width: ;
margin-top: ;
margin-left: ;
margin-right: ;
margin-bottom: ;
word-wrap: normal;
outline-style: ;
font-family: DM Sans;
}
.p-Home.Button45 {
color: #ffff;
background-color: #FF7629ff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #FF7629ff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Image3 {
width: 400px;
border-width: ;
padding-top: 40px;
padding-bottom: 40px;
margin-left: ;
padding-right: 40px;
border-radius: 50px;
position: relative;
right: 200px;
padding-left: 40px;
}
.p-Home.TextBox25 {
font-family: DM Sans;
font-weight: 700;
font-size: 21px;
}
.p-Home.Image15 {
width: 200px;
}
.p-Home.Image16 {
width: 200px;
}
.p-Home.Image17 {
width: ;
}
.p-Home.Image18 {
;
}
.p-Home.TextBox27 {
font-family: DM Sans;
font-weight: 700;
font-size: 28px;
}
.p-Home.Image23 {
;
}
.p-Home.TextBox28 {
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
}
.p-Home.TextBox29 {
width: 200px;
padding-left: 30px;
padding-right: 10px;
color: #676767ff;
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
}
.p-Home.TextBox30 {
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
color: #FF7629ff;
}
.p-Home.TextBox34 {
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
color: #FF7629ff;
}
.p-Home.TextBox35 {
width: 200px;
padding-left: 30px;
padding-right: 10px;
color: #676767ff;
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
}
.p-Home.TextBox36 {
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
}
.p-Home.Image25 {
;
}
.p-Home.Image26 {
;
}
.p-Home.TextBox37 {
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
}
.p-Home.TextBox38 {
width: 200px;
padding-left: 30px;
padding-right: 10px;
color: #676767ff;
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
}
.p-Home.TextBox39 {
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
color: #FF7629ff;
}
.p-Home.TextBox40 {
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
color: #FF7629ff;
}
.p-Home.TextBox41 {
width: 200px;
padding-left: 30px;
padding-right: 10px;
color: #676767ff;
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
}
.p-Home.TextBox42 {
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
}
.p-Home.Image27 {
;
}
.p-Home.Button13 {
color: #000000ff;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
border-top-style: solid;
border-top-width: ;
margin-top: ;
margin-left: ;
margin-right: ;
margin-bottom: ;
word-wrap: normal;
outline-style: ;
font-family: DM Sans;
}
.p-Home.Button14 {
color: #ffff;
background-color: #FF7629ff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #FF7629ff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Image37 {
width: 500px;
border-radius: 30px;
height: 600px;
}
.p-Home.Image38 {
;
}
.p-Home.Image39 {
;
}
.p-Home.Image41 {
;
}
.p-Home.TextBox71 {
font-family: DM Sans;
font-weight: 500;
font-size: 20px;
}
.p-Home.Image42 {
;
}
.p-Home.TextBox72 {
width: 50%;
color: #8d8d8dff;
}
.p-Home.TextBox73 {
width: ;
color: #8d8d8dff;
}
.p-Home.Image43 {
;
}
.p-Home.TextBox74 {
width: ;
color: #8d8d8dff;
}
.p-Home.Image44 {
;
}
.p-Home.TextBox75 {
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
}
.p-Home.TextBox76 {
font-family: DM Sans;
font-weight: 500;
color: #8d8d8dff;
width: 80%;
font-size: 18px;
}
.p-Home.TextBox77 {
font-family: DM Sans;
font-weight: 500;
color: #8d8d8dff;
width: 80%;
font-size: 18px;
}
.p-Home.Button19 {
color: #ffff;
background-color: #FF7629ff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #FF7629ff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button20 {
color: #000000ff;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
border-top-style: solid;
border-top-width: ;
margin-top: ;
margin-left: ;
margin-right: ;
margin-bottom: ;
word-wrap: normal;
outline-style: ;
font-family: DM Sans;
}
.p-Home.TextBox98 {
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
}
.p-Home.TextBox99 {
width: 50%;
font-family: DM Sans;
font-weight: 500;
color: #727272ff;
text-align: justify;
font-size: 19px;
}
.p-Home.Image56 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox101 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
text-align: center;
}
.p-Home.TextBox102 {
width: 250px;
height: 50px;
max-height: 100px;
font-family: DM Sans;
font-weight: 500;
color: #686868ff;
font-size: 16px;
text-align: center;
}
.p-Home.TextBox100 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.TextBox104 {
width: 250px;
height: 50px;
max-height: 100px;
font-family: DM Sans;
font-weight: 500;
color: #686868ff;
font-size: 16px;
text-align: center;
}
.p-Home.TextBox105 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
width: 300px;
text-align: center;
}
.p-Home.Image57 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox103 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.Image61 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox116 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
width: 300px;
text-align: center;
}
.p-Home.TextBox117 {
width: 250px;
height: 50px;
max-height: 100px;
font-family: DM Sans;
font-weight: 500;
color: #686868ff;
font-size: 16px;
text-align: center;
}
.p-Home.TextBox115 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.Image62 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox119 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
width: 300px;
text-align: center;
}
.p-Home.TextBox120 {
width: 250px;
height: 50px;
max-height: 100px;
font-family: DM Sans;
font-weight: 500;
color: #686868ff;
font-size: 16px;
text-align: center;
}
.p-Home.TextBox118 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.TextBox124 {
width: 250px;
height: 50px;
max-height: 100px;
font-family: DM Sans;
font-weight: 500;
color: #686868ff;
font-size: 16px;
text-align: center;
}
.p-Home.TextBox125 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
width: 300px;
text-align: center;
}
.p-Home.Image63 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox121 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.TextBox126 {
width: 250px;
height: 50px;
max-height: 100px;
font-family: DM Sans;
font-weight: 500;
color: #686868ff;
font-size: 16px;
text-align: center;
}
.p-Home.TextBox127 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
width: 300px;
text-align: center;
}
.p-Home.Image64 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox122 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.Image65 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox128 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
width: 300px;
text-align: center;
}
.p-Home.TextBox129 {
width: 250px;
height: 50px;
max-height: 100px;
font-family: DM Sans;
font-weight: 500;
color: #686868ff;
font-size: 16px;
text-align: center;
}
.p-Home.TextBox123 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.TextBox131 {
width: 250px;
height: 50px;
max-height: 100px;
font-family: DM Sans;
font-weight: 500;
color: #686868ff;
font-size: 16px;
text-align: center;
}
.p-Home.TextBox132 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
text-align: center;
}
.p-Home.Image66 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox130 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.Button25 {
color: #ffff;
background-color: #FF7629ff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #FF7629ff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button26 {
color: #000000ff;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
border-top-style: solid;
border-top-width: ;
margin-top: ;
margin-left: ;
margin-right: ;
margin-bottom: ;
word-wrap: normal;
outline-style: ;
font-family: DM Sans;
}
.p-Home.TextBox183 {
font-family: DM Sans;
font-weight: 700;
font-size: 50px;
color: #ffffffff;
max-width: 80%;
}
.p-Home.TextBox184 {
font-family: DM Sans;
font-weight: 500;
color: #fffafaff;
font-size: 16px;
max-width: 80%;
}
.p-Home.Button33 {
color: #000000ff;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
border-top-style: solid;
border-top-width: ;
margin-top: ;
margin-left: ;
margin-right: ;
margin-bottom: ;
word-wrap: normal;
outline-style: ;
font-family: DM Sans;
}
.p-Home.Button34 {
color: #ffff;
background-color: #FF7629ff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ffffffff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Image83 {
width: 100%;
}
.p-Home.TextBox186 {
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
}
.p-Home.TextBox187 {
width: 50%;
font-family: DM Sans;
font-weight: 500;
color: #727272ff;
}
.p-Home.TextBox185 {
;
}
.p-Home.Image84 {
;
}
.p-Home.Image85 {
;
}
.p-Home.Image87 {
width: 50px;
height: 50px;
background-color: #FF7629ff;
padding-top: 5px;
padding-left: 5px;
padding-right: 5px;
padding-bottom: 5px;
border-radius: 50px;
}
.p-Home.TextBox188 {
font-family: DM Sans;
font-weight: 500;
font-size: 24px;
}
.p-Home.TextBox189 {
font-family: DM Sans;
font-weight: 500;
font-size: 14px;
color: #716f6fff;
}
.p-Home.Image89 {
width: 30px;
height: 30px;
}
.p-Home.Image90 {
width: 30px;
height: 30px;
}
.p-Home.Image91 {
width: 30px;
height: 30px;
}
.p-Home.Image92 {
width: 30px;
height: 30px;
}
.p-Home.Image88 {
width: 30px;
height: 30px;
}
.p-Home.Image93 {
width: 50px;
height: 50px;
border-radius: 50px;
}
.p-Home.TextBox190 {
font-family: DM Sans;
font-weight: 500;
}
.p-Home.TextBox191 {
font-family: DM Sans;
font-weight: 500;
color: #595858ff;
}
.p-Home.Image95 {
width: 50px;
height: 50px;
background-color: #FF7629ff;
padding-top: 5px;
padding-left: 5px;
padding-right: 5px;
padding-bottom: 5px;
border-radius: 50px;
}
.p-Home.Button35 {
color: #ffff;
background-color: #FF7629ff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #FF7629ff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button36 {
color: #000000ff;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
border-top-style: solid;
border-top-width: ;
margin-top: ;
margin-left: ;
margin-right: ;
margin-bottom: ;
word-wrap: normal;
outline-style: ;
font-family: DM Sans;
}
.p-Home.Image104 {
;
}
.p-Home.Image105 {
;
}
.p-Home.TextBox199 {
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
}
.p-Home.TextBox200 {
;
}
.p-Home.Image106 {
width: 100%;
height: 80%;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
}
.p-Home.TextBox201 {
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
color: #737373ff;
padding-left: 20px;
padding-top: 20px;
padding-right: 10px;
}
.p-Home.TextBox202 {
font-family: DM Sans;
font-weight: 700;
font-size: 26px;
padding-left: 20px;
padding-right: 10px;
}
.p-Home.TextBox203 {
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
color: #8f8f8fff;
padding-left: 20px;
padding-bottom: ;
padding-right: 10px;
}
.p-Home.Image107 {
width: 100%;
border-top-left-radius: 25px;
border-top-right-radius: 35px;
}
.p-Home.TextBox204 {
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
color: #737373ff;
padding-left: 20px;
padding-top: 20px;
padding-right: 10px;
}
.p-Home.TextBox205 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
padding-left: 20px;
padding-right: 10px;
}
.p-Home.TextBox210 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
padding-left: 20px;
padding-right: 10px;
}
.p-Home.TextBox211 {
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
color: #737373ff;
padding-left: 20px;
padding-top: 20px;
padding-right: 10px;
}
.p-Home.Image110 {
width: 100%;
border-top-left-radius: 25px;
border-top-right-radius: 35px;
}
.p-Home.Image111 {
width: 100%;
border-top-left-radius: 25px;
border-top-right-radius: 35px;
}
.p-Home.TextBox212 {
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
color: #737373ff;
padding-left: 20px;
padding-top: 20px;
padding-right: 10px;
}
.p-Home.TextBox213 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
padding-left: 20px;
padding-right: 10px;
}
.p-Home.TextBox214 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
padding-left: 20px;
padding-right: 10px;
}
.p-Home.TextBox215 {
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
color: #737373ff;
padding-left: 20px;
padding-top: 20px;
padding-right: 10px;
}
.p-Home.Image112 {
width: 100%;
border-top-left-radius: 25px;
border-top-right-radius: 35px;
}
.p-Home.TextBox216 {
font-family: DM Sans;
font-weight: 700;
font-size: 34px;
align-self: auto;
}
.p-Home.TextBox217 {
width: 50%;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #727171ff;
}
.p-Home.Image114 {
width: 30px;
height: 30px;
}
.p-Home.TextBox218 {
font-family: DM Sans;
font-weight: 500;
color: #717070ff;
}
.p-Home.TextBox219 {
font-family: DM Sans;
font-weight: 500;
color: #717070ff;
}
.p-Home.Image115 {
width: 30px;
height: 30px;
}
.p-Home.Image116 {
width: 30px;
height: 30px;
}
.p-Home.TextBox220 {
font-family: DM Sans;
font-weight: 500;
color: #717070ff;
}
.p-Home.Flex312 {
display: flex;
}
.p-Home.Button39 {
color: #fff;
background-color: #FF7629ff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
width: 40%;
}
.p-Home.TextBox221 {
;
}
.p-Home.Input2 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000ff;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.Input4 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000ff;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.TextBox223 {
;
}
.p-Home.TextBox224 {
;
}
.p-Home.Input5 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000ff;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.Input6 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000ff;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.TextBox225 {
;
}
.p-Home.TextBox226 {
;
}
.p-Home.Input7 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000ff;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.Input8 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000ff;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.TextBox227 {
;
}
.p-Home.TextBox228 {
;
}
.p-Home.Input9 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000ff;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
height: 180px;
text-align: center;
}
.p-Home.TextBox229 {
font-family: DM Sans;
font-weight: 400;
font-size: 15px;
color: #23d12fff;
}
.p-Home.TextBox230 {
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
}
.p-Home.TextBox231 {
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
color: #ffffffff;
}
.p-Home.Image118 {
width: 300px;
height: 300px;
border-radius: 35px;
}
.p-Home.Image119 {
width: 300px;
height: 300px;
border-radius: 35px;
}
.p-Home.Image120 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image121 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image122 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image123 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image124 {
;
}
.p-Home.TextBox232 {
width: 100%;
font-family: DM Sans;
font-weight: 500;
color: #6a6868ff;
}
.p-Home.Image126 {
width: 30px;
height: 30px;
}
.p-Home.Image127 {
width: 30px;
height: 30px;
}
.p-Home.Image128 {
width: 30px;
height: 30px;
}
.p-Home.Image129 {
width: 30px;
height: 30px;
}
.p-Home.Image130 {
width: 30px;
height: 30px;
}
.p-Home.TextBox233 {
padding-bottom: 20px;
padding-right: 40px;
font-size: 20px;
}
.p-Home.TextBox235 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7cff;
}
.p-Home.TextBox236 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7cff;
}
.p-Home.TextBox237 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7cff;
}
.p-Home.TextBox238 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7cff;
}
.p-Home.TextBox239 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7cff;
}
.p-Home.TextBox240 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7cff;
}
.p-Home.TextBox241 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7cff;
}
.p-Home.TextBox242 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7cff;
}
.p-Home.TextBox243 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7cff;
}
.p-Home.TextBox244 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7cff;
}
.p-Home.TextBox245 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7cff;
}
.p-Home.TextBox246 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7cff;
}
.p-Home.TextBox247 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7cff;
}
.p-Home.TextBox248 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7cff;
}
.p-Home.TextBox249 {
padding-bottom: 20px;
padding-right: 40px;
font-size: 20px;
}
.p-Home.TextBox250 {
font-family: DM Sans;
font-weight: 500;
font-size: 20px;
}
.p-Home.Image131 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image132 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image133 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image134 {
width: 145px;
height: 145px;
border-radius: 25px;
}
